:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --sacondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --sacondary-background-color: #e5e5e5;
  --footer-bacground-color: #2f303a;
  --variable-grid: 30px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* RESSET */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
/* HEADER */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  margin-right: 93px;
}
.header-logo-design {
  color: var(--accent-color);
}
/* .logo:hover,
.logo:focus {
  color: var(--accent-color);
} */

/* HIDDEN */
.advantage-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* UTILITY */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.container {
  /* outline: 1px solid tomato; */
  width: 1200px;
  padding: 94px 15px;
  margin-left: auto;
  margin-right: auto;
}

/* NAVIGATION */

.header {
  background-color: var(--white-color);
}

.header-site-nav .link:hover,
.header-site-nav .link:focus,
.header-site-auth .link:hover,
.header-site-auth .link:focus,
.futer-item .link:hover,
.futer-item .link:focus {
  color: var(--accent-color);
}

.header-site-nav,
.header-site-auth,
.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0pt;
  border-bottom: 1px solid #ececec;
}

.header-site-nav {
  padding-left: 0px;
}

.header-site-auth {
  padding-left: 0px;
  margin-left: auto;
}
/* 
.header-site-nav .item,
.header-site-auth .item {
  border: 1px solid tomato;
} */
.header-site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.header-site-auth .item:not(:last-child) {
  margin-right: var(--variable-grid);
}

.header-site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-site-auth .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-site-nav .link.header-current {
  color: var(--accent-color);
}

/* HERO */
.hero-container {
  background-color: var(--footer-bacground-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container-main {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-title {
  display: block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  padding-bottom: var(--variable-grid);
}

.hero-primary-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border: 0px solid transparent;
}

.hero-primary-button:hover {
  background-color: #188ce8;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ADVANTAGE */

.advantage {
  padding-bottom: 0px;
  background-color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.advantage-main .item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantage-main .item:nth-child(1):before {
  background-image: url(../img/antenna\.svg);
}
.advantage-main .item:nth-child(2):before {
  background-image: url(../img/clock\ .svg);
}
.advantage-main .item:nth-child(3):before {
  background-image: url(../img/diagram.svg);
}
.advantage-main .item:nth-child(4):before {
  background-image: url(../img/astronaut\ .svg);
}

.advantage-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage .list {
  display: flex;
  align-items: center;
}

.advantage .list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantage .list .item:not(:nth-child(4n)) {
  margin-right: var(--variable-grid);
}

/* DIRECTIONS */

.directions {
  background-color: var(--white-color);
  padding-bottom: 94px;
}
.directions-main.container {
  padding-bottom: 0px;
}
.directions-main {
  padding-top: 0px;
}
.directions .list {
  display: flex;
  align-items: center;
}

.directions .list .item {
  flex-basis: calc((100% - 60px) / 3);
}

.directions .list .item:not(:nth-child(3n)) {
  margin-right: var(--variable-grid);
}

/* .directions-photo {
  display: block;
} */

.section-title {
  margin-bottom: 50px;
}

/* OUR TEAM */

.our-team {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.our-team .list {
  display: flex;
  text-align: center;
}

.our-team .list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.our-team .list .item:not(:nth-child(4n)) {
  margin-right: var(--variable-grid);
}

/* .our-team .list .item {

  text-align: center;
} */

.our-team .our-team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.our-team .our-team-position {
  font-size: 16px;
  line-height: 1.19;
}

.our-team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-employee {
  margin-bottom: 10px;
}

/* OUR PARTNERS */

.our-partners-list {
  display: flex;
  outline: 1px dashed red;
  margin: 0;
  padding: 0;
}
.link-icon {
  display: block;
}
.link-icon .icon {
  width: 106px;
  height: 60px;
}
/* FOOTER */

.footer {
  background-color: var(--footer-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.footer-logo-design {
  color: var(--accent-color);
}

.footer-main .footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* .footer-contact .futer-item {
  margin-top: 20px;
} */

.footer-contact {
  font-style: normal;
}

.futer-item .link {
  color: var(--sacondary-white-color);
}
.footer-contact .contact-location {
  color: var(--white-color);
}

.futer-item .list:not(:last-child) {
  margin-bottom: 9px;
}

/* BUTTONS */

.sacondary-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.sacondary-button {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px 6px 22px;
}

/* PORTFOLIO */

/* GALLERY */

/* HIDDEN */
.gallery-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section.list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.item .title-works {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.item .kind-works {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: royalblue; */
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.gallery.list .link {
  display: block;
}

/* gallery-card-description */

.gallery-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.gallery-button .item:not(:last-child) {
  margin-right: 8px;
}

.gallery.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--variable-grid));
  margin-left: calc(-1 * var(--variable-grid));
}
/* .gallery.list .item:not(:nth-child(3n)) {
  margin-right: 30px;

} */

.gallery.list .item {
  flex-basis: calc(100% / 3 - var(--variable-grid));
  margin-top: var(--variable-grid);
  margin-left: var(--variable-grid);
}

.gallery-card-description {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* .gallery.list .item {
  border: 1px solid #eeeeee;
} */
